<div>Order #<%= @order.id %> <br> </div>
Product: <%= @order.product.name %> <br>
Order Total: <%= number_to_currency(@order.product.price/100.00) %><br><br>
Name: <%= @order.name%><br>
Address:
  <%= @order.address_line1 %><br>
  <%= @order.address_city %>,
  <%= @order.address_state %>,
  <%= @order.address_zip %><br>
Email: <%= @order.email %> <br>
Phone Number: <%= @order.phone_number %> <br>


