<h1>Thank you for your order, <%= @completed_checkout_session.customer_details.name %>!</h1>

<h2>Your purchase of <%= @item_sold.description %> for
<%= @item_sold.price.unit_amount %> is complete.</h2>

Your order details: <br>

Order #<%= @completed_checkout_session.client_reference_id %>

<div><%= @completed_checkout_session.customer_details.phone %></div>
<div><%= @completed_checkout_session.customer_details.email %></div>
<div><%= @completed_checkout_session.shipping_details.name %></div>
<div><%= @completed_checkout_session.shipping_details.address.line1 %></div>